.sidebar {
	width: 240px;
	padding: 30px;
	border-right: 1px solid var(--sidebar-border);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.menu-item {
	font-size: 16px;
	color: var(--black);
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 14px;
}

.menu-item:hover {
	color: var(--primary-orange);
}

.user {
	margin-bottom: 46px;
}

.avatar {
	margin-bottom: 21px;
	filter: drop-shadow(0 8px 40px rgba(255, 197, 41, 0.25)); 
	border-radius: 50%;
}

.name {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 7px;
}

.active {
	color: var(--primary-orange);
}

.email {
	font-size: 14px;
	color: var(--grey);
}